header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-bottom: 2rem;
}

header #logo {
  text-decoration: none;
}

header #version {
  color: #b0b5c0;
  font-weight: normal;
  font-size: 1.1rem;
}

header #legend {
  margin-top: 2rem;
  color: #f0f2f5;
  font-weight: 400;
  font-size: 1.5rem;
}

#filter-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

#title-filter {
  margin-left: 0.5rem;
  color: #f2f0f5;
  font-size: 1.6rem;
  font-weight: 100;

}

#container-home {
  main {
    margin-left: 16px;
    margin-right: 16px;
  }

  #types-container {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    justify-content: center;
    border-top: solid 0.1px white;
    border-bottom: solid 0.1px white;
    margin-bottom: 16px;
    .type_poke {
      flex: 1;
      min-width: 100px;
      max-width: 150px;
      margin-left: 8px;
      margin-right: 8px;
      border-radius: 10%;
      background-color: #b41500;
      color: white;
      padding: 16px;
      text-align: center;
      margin-top: 16px;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        transition-delay: 1ms;
        background-color: darken(#b41500, 5%);

        transition-property: all;
      }
    }
  }
}
