.pokecard {
  flex-direction: column;
  display: flex;
  text-align: center;
  border-radius: 10px;
  height: 200px;
  width: 200px;
  background-color: #f0f0f0;
  padding: 16px;
  margin: 16px;
  &:hover {
    transform: translate(0px, -5px);
    cursor: pointer;
  }
  .image {
    flex-grow: 3;
    justify-content: center;
    background-color: black;
    img {
      height: 150px;
    }
  }
  .name {
    flex-grow: 1;
  }
}
